@media screen and (max-width:768px) {
    .folio-block {
        grid-column:span 12;
    }

    .work-content, .education-content, .jumberton-content {
        height:auto;
    }

    .work-block, .education-block, .jumberton-block {
        align-self:start;
    }
}

@media screen and (max-width:600px) {
    .work-block, .education-block, .jumberton-block {
        grid-column:span 12;
    }

    .picture {
        align-self:center;
    }

    .exp {
        grid-row:1;
    }

    footer, .footer-content {
        height:auto;
    }
}

@media screen and (max-width:425px) {
    .social-bar, .copyright {
        grid-column:span 12;
        justify-self:center;
        padding-top:1rem;
    }
}