@import url("normalize.css");

.portofolio-content {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:1rem;
    width:95%;
    margin:1rem auto;
}

.portofolio-content section {
    padding:0;
}

.section-title-content {
    width:75%;
    margin:0 auto;
    place-self:center;

    display:grid;
    justify-items:center;
}

.section-title-content h2 {
    text-align:center;
}

.section-title-content img {
    width:20%;
}

.portfolio-divider {
    margin:2.5% auto;
    width:50%;
    height:0.5rem;
    background-color:black;
}

.portfolio-item-title {
    background:rgba(255,255,255,0.95);
    padding:0.5rem 1rem;
    text-align:center;
    width: auto;
    margin:-1rem auto;
    white-space: nowrap;
}

.portfolio-item-title:hover {
    transform: scale(1.05);
}

.portfolio-item {
    min-height:50vh;
    display:grid;
    align-items:end;
    background-size:cover; 
    overflow:hidden;   
}

.bikees {
    background-image:url("../images/portfolio-preview/bikees-preview-2.png");
}

.wheel-and-wheelbar {
    background-image:url("../images/portfolio-preview/wheel-and-wheelbar-preview-2.png");
}

.unity {
    background-image:url("../images/portfolio-preview/unity-preview.png");        
}

.transworld {
    background-image:url("../images/portfolio-preview/transworld-preview-4.png");
    
}

.finance {
    background-image:url("../images/portfolio-preview/preview-finance-switch.png");
    background-size:contain;
}

.tyny {
    background-image:url("../images/portfolio-preview/tiny-one-preview-3.png");
}

.switch {
    background-image:url("../images/portfolio-preview/Switch-studio-preview.png");
}

.gratia {
    background-image:url("../images/portfolio-preview/gratia-preview.png");
    background-size:contain;
    
}

.pixture {
    background-image:url("../images/portfolio-preview/pixture-preview.png");
    background-size:contain;
    
}

.veggie   {
    background-image:url("../images/portfolio-preview/veggie-preview.png");
    background-size:contain;
    grid-row:2;
}

.velox {
    background-image:url("../images/portfolio-preview/velox-preview.png");
    background-size:contain;   
}

.gratia, .finance, .switch, .transworld, .unity {
    grid-column:span 6;
}

.bikees, .wheel-and-wheelbar, .tyny {
    grid-column: span 4;
}

.portfolio-section-title, .gratia, .pixture, .velox, .tbc, .veggie {
    grid-column:span 12;
}

.portfolio-item-info {
    height:15vh;
    background-color:rgba(0,0,0,0.5);
    margin-bottom:-5px;
    display:grid;
    align-items:center;
}

.portfolio-item-info p {
    color:white;
    text-align:center;
    padding:1rem;
}

.tbc {
    text-align: center;
}

footer {
    align-self:end;
}


@media screen and (max-width: 768px) {
    .portfolio-item {
        grid-column:span 6;
    }

    .portfolio-section-title {
        grid-column:span 12;
    }
}

@media screen and (max-width: 425px) {
    .portfolio-item {
        grid-column:span 12;
    }
}