
@import url("normalize.css");
@import url("media.css");
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-image:url("../img/qbkls.png");
}

header {
    border-left:10px solid tomato;
}

.header-content, .footer-content {
    height:15vh;
    align-content:center;
}

.jumberton {
    border-left:10px solid tomato;
}



.header-content, .jumberton-content, .work-content, .education-content, .footer-content {
    width:85%;
    margin:0 auto;
}

.folio-content, .illustration-content {
    width:95%;
    margin:0 auto;
}

.illustration-content {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-column-gap:0.25rem;
}

h1,h2,h3,h4, h5 {
    text-transform:uppercase;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h3,h4, h5 {
    margin:0;
}

h5 {
    margin-bottom:1rem;
}

h1 {
    font-size:3rem;
}

h2 {
    font-size:2rem;
}

.jumberton p {
    font-size:1.414rem;
}

.btn {
    background-color:rgba(0,0,0,0.8);
    color:rgba(255,255,255,0.8);
    padding:1rem 0.5rem;
    border:none;
    border-radius:0.5rem;
    font-family:"Montserrat", sans-serif;
    margin:1rem 0;
    cursor:pointer;
}

p {
    font-family:"Open-Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.folio-block p {
    background-color:rgba(0,0,0,0.8);
    color:rgba(255,255,255,0.8);
    padding:1rem 0.5rem;
    border-radius:0.5rem;
}

a {
    text-decoration:none;
    color:rgba(0,0,0,0.8);
}

.copyright a, .btn a {
    color:rgba(255,255,255,0.8);
}

.menu a {
    font-family:"Anonymous Pro", 'Courier New', Courier, monospace;
    margin-right:1rem;
}

.menu a:hover {
    border-bottom:10px tomato solid;    
}

.content {
    display:grid;
    grid-template-columns: repeat(12,1fr);
}

.jumberton-content {
    height:85vh;
}

.menu {
    grid-column:span 12;
}

.jumberton-block {
    grid-column:span 6;
}

.picture {

}

img {
    width:100%;
}

figure {
    width:75%;
    margin:0.25rem auto;
}

.folio-content figure{
    width:100%;
    border-radius:1rem;
}

figcaption {
    background-color:rgba(0,0,0,0.8);
    color:rgba(255,255,255,0.8);
    padding:0.5rem 0.25rem;
    border-radius:0.25rem;
    margin:0.5rem 0;
    display:inline-block;
    text-align:center;
}

.intro {
    margin-top:4rem;
}

.work-content, .education-content {
    height:100vh;
}

.work-block, .education-block, .jumberton-block {
    grid-column:span 6;
    align-self:end;
}

.illustration-block {
    
}

.vertical img{

}

.work-block-item, .education-block-content {
    margin-bottom:1rem;
}

.work-block-item-info, .education-block-content-info {
    grid-column:span 9;
}

.work-block-item figure, .education-block-content figure {
    grid-column:span 3
}

.work {
    border-right:10px gold solid;
    /*background:linear-gradient(75deg,gold 47%,transparent 47%) no-repeat;*/
}

.education {
    border-left:10px solid #9ad14b;
}

footer {
    min-height:15vh;
    background-color:rgba(0,0,0,0.8);
    color:rgba(255,255,255,0.8);
}

.social-bar, .copyright {
    grid-column:span 6;
    align-self: center;
}

i {
    color:rgba(255,255,255,0.8);
    font-size:1.414rem;
    margin-right:0.707rem;
}

.folio-block {
    grid-column:span 12;
    align-self:end;
}



.folio-content {
    grid-gap:1rem;
}

.unity, .transworld, .wheel-and-wheelbar, .gratia {
    grid-column:span 3;
}

.veggie, .radio-silence, .meet-up {
    grid-column:span 4;
}

.yes-english, .pixture {
    grid-column:span 6;
}

.yes-english {
    align-self:end;
}

/*SLIDER*/

.slider {
    width:95%;
    margin: 1rem auto;
    }

.slick-slide {
  margin: 0 1rem;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
    }

.slick-active {
  opacity: .5;
    }

.slick-current {
  opacity: 1;
    }


    footer, .footer-content {
        height:auto;
    }


